@keyframes onLoadFadeIn {
  from {opacity: 0;}
  to {opacity:1;}
}

.content {
  animation-name: onLoadFadeIn;
  animation-duration: 0.7s;
  z-index: 1;
}

.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.text-over-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgb(48, 46, 51);
  color: white;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: hotpink;
}

.full-size{
  height:100vh;
  position:absolute;
}

.scale-down {
  width: 70%;
}

.text-font {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title-portfolio{
  height:20vh;
  margin-bottom: 50px;
  padding-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color:#f7f7f7;
  opacity: 90%;
}

.card-img-top {
  width: 100%;
  height: 22em;
  object-fit: cover;
}

.img-full-div {
  vertical-align: middle;
}

.black-color {
  color: black;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.typing {
  width: 11ch;
  animation: typing 1s steps(11), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  80% {
    border-color: transparent
  }
}

.rounded{
  padding-bottom: 4px; 
  padding-right: 4px;
  padding-top: 4px;
}


@media screen and (max-width: 960px) {
  .white-theme{
    background-color: white;
  }
}

@media screen and (min-width: 961px) {
  .border-parent{
    border-bottom:1px solid rgba(224, 224, 224,0.4);
  }

  .border-child{
    overflow: hidden;
    border-right: 1px solid rgba(224, 224, 224,0.4);
    height: 100%;
  }

  .white-text {
    color: #f7f7f7 !important;
    font-size: 13px !important;
    letter-spacing: 1px;
    margin-left: 15px;
    font-family: "Poppins", sans-serif;
  }

    /* Create a sticky/fixed navbar */
  #navbar{
    overflow: hidden;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
  }

  #navbarimage{
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    z-index: 99;
  }

  #navbartitle{
    color: #f7f7f7 !important;
    font-size: 25px;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    z-index: 99;
  }

  .title-portfolio{
    padding-top: 100px;
    height:30vh;
  }
}


