@keyframes onLoadFadeIn {
  from {opacity: 0;}
  to {opacity:1;}
}

.content {
  animation-name: onLoadFadeIn;
  animation-duration: 0.7s;
}

body::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  background-size: cover;
}


.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.text-over-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgb(48, 46, 51);
  color: white;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: hotpink;
}

.full-size{
  height:100vh;
  position:absolute;
}

.scale-down {
  width: 70%;
}

.text-font {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title-portfolio{
  height:20vh;
  background-color: rgb(243, 243, 243);
  margin-bottom: 50px;
}

.card-img-top {
  width: 100%;
  height: 22em;
  object-fit: cover;
}

.img-full-div {
  vertical-align: middle;
}

.black-color {
  color: black;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.typing {
  width: 11ch;
  animation: typing 1s steps(11), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  80% {
    border-color: transparent
  }
}