{% extends "base.html" %}
{% block content %}

<div class="container-fluid page-title d-flex flex-column justify-content-center text-font" style="background-image: url('../static/images/contact2.png');">
    <div class = "row">
        <div class = "col-2"></div>
        <h1 class= "col"> Contact</h1>
    </div>
    <div class = "row">
        <div class = "col-2"></div>
        <h3 class = "col"> Let's get in touch!</h3>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-xl-6 ">
            {% if alert == 'success' %}
            <div class="alert alert-success" role="alert">
                Thank you for contacting me. An automated confirmation message will be sent to the email address you provided to verify that I received your message correctly.   
            </div>
            {% elif alert != 'waiting' %}
                {% if logging == 'false' %}
                <div class="alert alert-danger" role="alert">
                    Something went wrong. Try again.
                </div>
                {% elif logging == 'true' %}
                <div class="alert alert-danger" role="alert">
                    {{alert}}
                </div>
                {% endif %}
            {% endif %}
            <br>
            <form class="row g-3" action="/contact" method="post">
                {{ form.csrf_token }}
                <div class="col-12 col-xl-6">
                    <label for="inputName" class="form-label">Your name</label>
                    {{ form.inputName(class="form-control", required=True) }}
                </div>
                <div class="col-12 col-xl-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    {{ form.inputEmail(class="form-control", required=True) }}
                </div>
                <div class="col-12">
                    <label for="inputSubject" class="form-label">Subject</label>
                    {{ form.inputSubject(class="form-control", required=True) }}
                </div>
                <div class="col-12 mb-3">
                    <label for="exampleMessage" class="form-label">Message</label>
                    {{ form.inputMessage(class="form-control", required=True, rows=10) }}
                </div>
                <div class="col-md-10 col-sm-12">
                    {{ form.recaptcha }}
                </div>
                <div class="col-md-2 col-sm-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        
        <div class="col ms-3 text-font">
            <div class="row ms-3">  
                <div class="col-12 ms-3">
                    <img src="{{url_for('static', filename='images/contact.png')}}" class="img-responsive scale-down" alt="...">
                </div>    
                <div class="col-12 ms-3 text-muted"> 
                    <div class ="col-12">
                        <i class="bi bi-geo-alt"></i>
                        <span> Bucharest, Romania </span>
                    </div>
                    <div class ="col-12">
                        <i class="bi bi-envelope"></i>
                        <span> maraluciana1606@gmail.com </span>
                    </div>
                    <div class ="col-12">
                        <i class="bi bi-telephone"></i>
                        <span> 0722618765</span>
                    </div>
                </div>   
            </div>  
        </div>
    </div>
</div>

{% endblock content %}
