<nav class="navbar navbar-expand-lg " id="navbar">
    <div class="container-fluid grid gap-3 text-uppercase fw-bold ">
        <div class="col-xxl-2 col-lg-4 col-sm-6">
            <img src="{{url_for('static', filename='images/avatar.png')}}" class="img-thumbnail" width="100" height="100">
            <a class="navbar-brand " href="#">Mara Belu</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="about">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="resume">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>