{% extends "base.html" %}
{% block content %}

<h1>Portfolio</h1>
<h2>Projects</h2>

<h3>Bookgram - Web Project</h3>
<h4>[ 11/2022 - 01/2023 ]</h4>
<ul>
    <li>Collaborated with five other colleagues to develop a social media platform designed to share and discover
        books and reading-related content, simulating an Agile development process.</li>
    <li>Developed backend components utilizing ASP.NET : created REST APIs and integrated with the frontend team to
        deliver a seamless user experience.</li>
    <li>Demonstrated strong communication, teamwork, and problem-solving skills throughout the project, helping to
        ensure the success of the team and the quality of the final product.</li>
</ul>

<br>
<span>Link :</span>
<a href="https://github.com/inginerie-software-22-23/proiect-inginerie-software-teammango">https://github.com/inginerie-software-22-23/proiect-inginerie-software-teammango</a>
<br>

<h3>Enchanted Forest - Unity Project</h3>
<h4>[ 04/2022 - 06/2022 ]</h4>
<ul>
    <li>Collaborated with two other colleagues to develop a 2D Platform Game made in Unity and Plastic SCM.</li>
    <li>Designed gameplay moments, including narrative events, enemy encounters, and points of interest within the
        game world.</li>
    <li>Implemented player movement, sound management, interactions with environment and various enemy
        behaviours using C# scripts.</li>
</ul> 

<br>
<span>Link :</span>
<a href="https://github.com/Apelia-Ion/Proiect-MDS">https://github.com/Apelia-Ion/Proiect-MDS</a>
<br>


<h3>Street Scene - OpenGL Project</h3>
<h4>[ 12/2022 - 01/2023 ]</h4>
<ul>
    <li>Developed two small projects in OpenGL, showcasing a range of 2D and 3D graphics programming techniques by
        depicting street scenes.</li>
    <li>The first project features two animated cars in a simple 2D scene, demonstrating proficiency in basic animation
        and movement controls.</li>
    <li>The second project is a more complex 3D scene that includes fog and ambient lighting effects, as well as two cars
        and several lamps.</li>
</ul> 

<h3>Alien Language Detection - Machine Learning Project</h3>
<h4>[ 04/2022 - 05/2022 ]</h4>
<ul>
    <li>Developed Natural Language Processing project which classifies alien sentences into different languages.</li>
    <li>Trained a model using Multinomial Naive Bayes from Sklearn with 80% accuracy.</li>
    <li>Used Bag-of-Words to preprocess data for future classification.</li>
</ul> 

<h3>Lines of Action - PyGame - AI Project</h3>
<h4>[ 02/2022 - 04/2022 ]</h4>
<ul>
    <li>Made a Python game based on a strategy board game named Lines of Action.</li>
    <li>Implemented Minimax and Alpha-Beta algorithms in order to have the possibility of playing against the
        computer.</li>
    <li>The color of one's pieces, the algorithm, the difficulty and the type of game (PvP, PvAI, AIvAI) can all be chosen
        through the UI.</li>
</ul> 

{% endblock content %}