{% extends "base.html" %}
{% block content %}

<div class="container-fluid title-portfolio d-flex flex-column justify-content-center text-font">
  <div class = "row">
      <div class = "col-2"></div>
      <h1 class= "col fw-bolder"> Resume</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 d-flex aligns-items-center justify-content-center">
      <img src="{{url_for('static', filename='images/computerscience.png')}}" class="img-responsive scale-down" alt="...">
    </div>
    <div class="col">
      fgdsfdsW
    </div>
    <div class="col">
      fgdsfdsW
    </div>
  </div>
</div>



<h2>Education</h2>
<dl>
    <dt>University of Bucharest - Faculty of Mathematics and Computer Science</dt>
    <dd>Bachelor's Degree: Computer Science [ 2020 - Current ]</dd>
    <dt>Bogdan Petriceicu Hasdeu National College</dt>
    <dd>Mathematics and Computer Science[ 2016 - Current ]</dd>
  </dl> 


<h2>College Coursework</h2>
<ol>
    <li>Data Structures and Algorithms</li>
    <li>Object Oriented Programming</li>
    <li>Database Management Systems</li>
    <li>Web Application Development</li>
    <li>Computer Graphics</li>
    <li>Artificial Intelligence | Concepts and Applications of Artificial Vision</li>
    <li>Functional Programming</li>
    <li>Operating Systems</li>
  </ol> 

<h2>Skills</h2>
<ul>
    <li>Programming languages: Python, C++, C#, Java</li>
    <li>Web frameworks: ASP.NET</li>
        <ul><li>(beginner) React, Angular</li></ul>
    <li>Databases: SQL</li>
    <li>Game engines: Unity</li>
    <li>Graphics APIs: OpenGL</li>
    <li>Version control: Git, PlasticSCM</li>
    <li>Python modules: Scikit-Learn, Pygame, Numpy</li>
  </ul> 

<h2>Certificates</h2>
<ul>
    <li>Cambridge Advanced English Certificate</li>
    <li>Certificate of completion : The Git & Github Bootcamp</li>
</ul>
{% endblock content %}